.footer{
    background-color: rgb(42, 40, 40);
    color: white;
    padding: 20px;
}
.social i{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    padding: 8px;
    color: goldenrod;
}
.links{
    text-align: center;
    margin: auto;
}
.links h3{
    margin-left: 18px;
}
li{
    list-style: none;
}
.discribe{
    text-align: justify;
}